.Ball{
  background-color: tomato;
  border-radius: 50%;
  color: white;
  display: inline-block;
  width: 3em;
  text-align: center;
  height:2.25em;
  padding-top:0.7em;
  font-size: 1.5em;
  margin-right: 0.5em;
  font-weight: bold;
}
